.content {
  display: flex;
  flex-direction: column;
  border: 1px red solid;
}

.top {
  display: flex;
  justify-content: center;
  border: 1px green solid;
  padding: 20px;
}

.title-card {
  font-size: 50px;
  color: orangered;
}

.content {
  padding: 20px;
  font-size: 20px;
}

.review-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px green solid;
}

.main-content {
  padding-bottom: 20px;
  color: orangered;
}

.bottom {
  padding: 20px;
  border: 1px green solid;
}


.tabManager {
  display: flex;
  flex-direction: column;
  border: 1px green solid;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;   
}

.tab {
  padding: 15px 20px;
  border: 0.5px solid;
  font-size: 15px;
  font-weight: bold;
  background: #ffffff;
  color: #5a5243;
}

.active {
  padding: 15px 20px;
  border: 0.5px solid;
  font-size: 15px;
  font-weight: bold;
  background: #5a5243;
  color: #ffffff;
}

.none {
  display: none;
}

.initial {
  display: initial;
}